h1 {
	font-size: 23px;
	font-family: 'Poiret One';
	color: #30538B;
  }
  
  h2 {
	font-size: 35px;
	font-family: 'Tangerine';
	color: #26A9B8;
  }
  
  h4 {
	font-size: 16px;
	font-family: 'Poiret One';
	color: #30538B;
	padding-right: 15px;
	padding-left: 15px;
  }
  
  h3 {
	font-size: 28px;
	font-family: 'Tangerine';
	color: #26A9B8;
  }
  
  #section-break {
	font-size: 17px;
	font-family: 'Poiret One';
	color: #26A9B8;
  }
  
  
  #link {
	color: #FF33D7;
  }
  
.stroller {
	height: 100px;
	width: auto;
}

.picture {
	padding-top: 50px;
}

.button {
    background-color: #b9afae;
    border: none;
    color: white;
	padding: 15px 32px;
	margin: 0px 20px 0px 20px;
    text-align: center;
    text-decoration: none;
	display: inline-block;
	font-family: 'Poiret One';
	font-size: 16px;
	box-shadow: 0 0 5px 2px rgb(138, 138, 138);
}

.button:hover {
    background-color: #d2c8c6;
	box-shadow: 0 0 9px 5px rgb(112, 111, 111);
}

html, body {
	display: grid;
	grid-template-columns: auto;
	margin-top: 100px;
	height: 110%;
	background:rgb(233, 233, 233);
	text-align: center;
	
}

.container {
	grid-column: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.frame{
	grid-column: 1;
	width: inherit;
	height: 350px;
	margin: auto;
	position: relative;
	background: #435d77;
	border-radius:0 0 40px 40px; 
}

.message{
	align-items: center;
	text-align: center;
	position: relative;
	width: 580px;
	min-height:300px;
	max-height:300px;
	height: auto;
	background: #ece0de;
	margin: 10px;
	top: 30px;
	box-shadow: 0 0 5px 2px rgb(138, 138, 138);
	transition:2s ease-in-out;
	transition-delay:1.5s;
	z-index: 200;
	
}
.left,.right,.top{width: 0;	height: 0;position:absolute;top:0;z-index: 310;}
.left{	
	border-left: 300px solid #b9afae;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;
}
.right{	
	border-right: 300px solid #b9afae;
	border-top: 160px solid transparent;
	border-bottom: 160px solid transparent;;
	left:300px;
}
.top{	
	border-right: 300px solid transparent;
	border-top: 200px solid #d2c8c6;
	border-left: 300px solid transparent;
	transition:transform 1s,border 1s, ease-in-out;
	transform-origin:top;
	transform:rotateX(0deg);
	z-index: 500;
}

.bottom{
	width: 600px;
	height: 190px;
	position: absolute;
	background: #9f9796;
	top: 160px;
	border-radius:0 0 30px 30px;
	z-index: 310; 
}




.open{
	transform-origin:top;
	transform:rotateX(180deg);
	transition:transform .7s,border .7s,z-index .7s ease-in-out;
	border-top: 200px solid #2c3e50;
	z-index: 200;
}


.pull{
	-webkit-animation:message_animation 2s 1 ease-in-out;
	animation:message_animation 2s 1 ease-in-out;
	-webkit-animation-delay:.9s;
	animation-delay:.45s;
	transition:1.5s;
	transition-delay:1s;
	z-index: 200;

}

.expand {
	transition:min-height 1s ease-in-out, z-index 0.6s ease-in-out, top 1s ease-in-out;
	transition-delay: 2s;
	min-height: 1025px;
	z-index: 350;
	top: -150px;
	
}

.extra-info {
	visibility: hidden;
}

.reveal-extra-info {
	transition: visibility 2s ease;
	transition-delay: 2.8s;
	visibility: visible;
}

.rsvp {

}

@-webkit-keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
}
@keyframes message_animation {
	0%{
		transform:translatey(0px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	50%{
		transform:translatey(-340px);
		z-index: 300;
		transition: 1s ease-in-out;
	}
	51%{
		transform:translatey(-340px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
	100%{
		transform:translatey(0px);
		z-index: 350;
		transition: 1s ease-in-out;
	}
}

/* 
/* 